# Those variables are only used for templating
# the docker-compose.yml file.
#
# You should put here your secrets with
# dummy values and variables you want to reuse
# in two or more services.

# Domain
DOMAIN=companies-and-products.localhost
API_SUBDOMAIN=api

# API
APP_SECRET=$ecretf0rt3st

# MySQL
MYSQL_ROOT_PASSWORD=super-secret
MYSQL_DATABASE=companies-and-products
MYSQL_USER=api-agent
MYSQL_PASSWORD=secret

# RabbitMQ
RABBITMQ_DEFAULT_USER=api-agent
RABBITMQ_DEFAULT_PASS=secret

# Storage
STORAGE_PUBLIC_BUCKET=public
STORAGE_PRIVATE_BUCKET=private
STORAGE_ACCESS_KEY=accesskey
STORAGE_SECRET_KEY=secretkey