{% extends 'emails/email.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}
    <p>Hello {{ firstName }} {{ lastName }}</p>

    <p>{{ update_password_url }}</p>
{% endblock %}