{% extends 'emails/email.html.twig' %}
{% trans_default_domain domain %}

{% block title %}
    {% trans into locale %}title{% endtrans %}
{% endblock %}

{% block body %}
    <h1>{% trans into locale %}title{% endtrans %}</h1>

    <p>
        {% trans into locale %}body.hello{% endtrans %} {{ firstName }} {{ lastName }}
    </p>

    <p>{{ update_password_url }}</p>
{% endblock %}