includes:
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - vendor/pepakriz/phpstan-exception-rules/extension.neon

parameters:
    checkGenericClassInNonGenericObjectType: false # This rule is causing issues with MyCLabs\Enum\Enum.
    excludes_analyse:
        - %currentWorkingDirectory%/src/Domain/Model/Generated/*.php
        - %currentWorkingDirectory%/src/Domain/Dao/Generated/*.php
        - %currentWorkingDirectory%/src/Kernel.php
    ignoreErrors:
        -
            message: '#PHPDoc tag @throws .* is not compatible with parent#'
            path: %currentWorkingDirectory%/src/Domain/Dao/*.php
#        -
#            message: '#Unused @throws Symfony\\Component\\Console\\Exception\\LogicException annotation#'
#            path: %currentWorkingDirectory%/src/Infrastructure/Command/*.php
    exceptionRules:
        reportUnusedCatchesOfUncheckedExceptions: false
        reportUnusedCheckedThrowsInSubtypes: false
        reportCheckedThrowsInGlobalScope: false
        checkedExceptions:
            - App\Domain\Throwable\BusinessRule
