<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
>

    <php>
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="KERNEL_CLASS" value="App\Kernel" />
        <server name="STORAGE_PUBLIC_SOURCE" value="public.storage.memory" force="true" />
        <server name="STORAGE_PRIVATE_SOURCE" value="private.storage.memory" force="true" />

        <!-- ###+ symfony/mailer ### -->
        <!-- MAILER_DSN=smtp://localhost -->
        <!-- ###- symfony/mailer ### -->
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory>src/Kernel.php</directory>
                <directory>src/Domain/Model/Generated</directory>
                <directory>src/Domain/Dao/Generated</directory>
                <directory>src/Domain/ResultIterator/Generated</directory>
                <directory>src/Infrastructure/Command/DevFixturesCommand.php</directory>
                <directory>src/Infrastructure/Command/InitializeMinIOStorageCommand.php</directory>
                <directory>src/Infrastructure/EventSubscriber</directory>
                <directory>src/Infrastructure/Fixtures</directory>
                <directory>src/Infrastructure/S3</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="coverage"/>
        <log type="coverage-text" target="php://stdout"/>
    </logging>
</phpunit>